/node_modules/
*.yaml
*.yml
*.log
*.lock
*.pid
*.coverage
*.swp
*.out
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.pdf
*.zip
*.gz
*.tar.gz
*.rar
*.iml
*.DS_Store
*.ipynb_checkpoints
*.cjs
*.map
*.d.ts
*.js.map
*.css.map
*.env
*.env.*
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.config.ts
*.config.js