# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# .gitignore

# dependencies
/node_modules
/.pnp
.pnp.js
dist-ssr
*.local

# testing
/coverage

# next.js
/.next/
/out/

# production
/build/audio/spirit-of-fire-jesse-gallagher.mp3
/build/video/wave-sound.mp4
/build/video/wave.mp4
/build/documents

# misc
.DS_Store
*.pem

# debug Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env*.local
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?